*credentials*
!local_credentials.py
*sync-conflict*
*.orig
*(copy)*
Mercury/libs/performance_models/bada*
libs/performance_models/bada*
/app/Mercury/libs/performance_models/bada*
*__pycache__*
*.sublime*
