[submodule "libs/uow_tool_belt"]
	path = libs/uow_tool_belt
	url = https://github.com/UoW-ATM/uow_tool_belt

[submodule "libs/Hotspot"]
	path = libs/Hotspot
	url = https://github.com/andygaspar/Hotspot
[submodule "libs/openap"]
	path = libs/openap
	url = https://github.com/TUDelft-CNS-ATM/openap
